/*Portrait*/
@media (max-width: 598px) {
    .posterImg {
        width: 115px;
        height: 171px;
    }
    .sliderTitle {
        font-size: 25px;
        text-align: center;
        padding-left: 0;
        padding-top: 0; 
    }
    #movieTitle {
        font-size: 22px !important;
    }
    #riepilogoButton h4, #dettagliButton h4 {
        font-size: 13px;
    }
    #boxInfoContainer, #carouselPoster, #searchContainer, #favouritesContainer {
    padding-top: 14% !important;
    }
    #boxInfo{
        width: 100%;
    }
    #moviePlot{
        margin-bottom: 60px;
        color: rgba(255, 255, 255, 0.79);
        width: 100%;
        max-height: 120px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.46);
    }
    .sfumatoMovie {
        width: 100%;
        background-image: none !important;
        background-color: rgba(0, 0, 0, 0.26);
    }
    .rightBlockView {
        position: inherit;
        padding-bottom: 0 !important;
        width: 100%;
        
    }
    .poster{
        width: 160px;
    }
    #dettagli{
        width: 100%;
    }
    .colonnaSx {
        width: 100%;
    }
}

/*Landscape*/
@media (max-width: 992px) and (min-width: 598px) {
   .posterImg {
        width: 133px;
        height: 200px;
    }

   .sliderTitle {
       font-size: 30px;
       text-align: center;
        padding-left: 0;
        padding-top: 0; 
   }

   #boxInfoContainer, #carouselPoster, #searchContainer, #favouritesContainer {
    padding-top: 8% !important;
    }
     #boxInfo{
        width: 240px;
    }
     #moviePlot{
        width: 240px;
        margin-bottom: 60px;
    }
    .poster{
        width: 113px;
    }
    #dettagli{
        width: 240px;
    }
     .rightBlockView { 
        top: 130px;
        left: 274px;
        width: 48%;
    }
}

/*Menù mobile */
@media (max-width: 992px){
  .content {
    background-color: rgba(0, 0, 0, 0.79);
	}
  #tf-menu {
    padding: 0px !important;
    transition: all 0.8s;
}

  .posterContainer {
    padding: 0px;
}
  #channelDrop {
      top: 0 !important;
  }
 .carouselPlot {
     font-size: 20px;
 }

 .play {
     margin-top: -7% !important;
 }

#sfumato {
    background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #000 60%);
}

.form {
    margin-top: 0;
    margin-left: 0;
}
.ricerca {
    margin-top: 0 !important;
    padding-top: 0 !important; 
}
}

/*Tablet, iPad*/
@media (min-width: 992px) and (max-width: 1024px){
    .posterImg{
       width: 176px;
        height: 242px;
    }
    .posterContainer {
    padding: 9px;
    padding-right: 178px;
}
}

@media (min-width: 1200px){
    .container {
    width: 86%;
}
}


@media (max-width: 603px){
#tf-menu.navbar-default {
	background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, #000 100%);
    border: none;
	}
#tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
}
label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}